.container {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	overflow: hidden;
  display: block;
  background: #ad5389;
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
  background: linear-gradient(to right, #3c1053, #ad5389);
}

.secret-box {
  position: absolute;
  background: rgba(0,0,0,0.5);
  border: 1px solid #000;
  padding: 10px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ddd;
	font-size: 14px;
	font-family: cursive;
  padding: 20px;
  min-width: 100px;
  min-height: 100px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

h3 {
  font-size: 20px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1em;
}
